.header {
    height: 100px;
    border: 1px solid black;
}

.sidebar {
    float: left;
    width: 20%;
}

.main {
    margin-left: 25%;
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.footer {
    height: 100px;
    text-align: center;
    border: 1px solid black;
}