body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

.list-items {
    width: 100%;
    height: 100px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.item {
    width: 20%;
    height: 100px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {}