body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  perspective: 1000px;
}

.card {
  width: 400px;
  height: 220px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.1s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
