body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.process-bar {
    display: flex;
    flex-direction: column;

}

.process-bar .line {
    width: 500px;
    height: 10px;
    background-color: #e8e8e8e8;
    border-radius: 5px;
    position: relative;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    color: rgb(251, 144, 255);
}

.process-bar .line span {
    position: absolute;
    left: 0;
    top: 0;
    /* width: 50%; */
    height: 100%;
    border-radius: 5px;

}