@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}
.box {
    @include transform(rotate(90deg));
    width: 100px;
    height: 20px;
    background-color: green;
}
