body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rect {
  width: 400px;
  height: 200px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rect::before {
  content: "";
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #fff,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #fff,
    0 17px 1px -6px rgba(0, 0, 0, 0.2);
}
