.album-square{
    width: 128px;
    height: 128px;
    /* background-image: url(https://via.placeholder.com/150/FF0000/000000); */
    background-image: url(https://loremflickr.com/150/240);
    background-size: cover;
    background-position: center;
}

.album-square .overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /*box-sizing: boder-box đảm bảo không thay đổi size
    của div .overlay*/
    box-sizing: border-box;
    opacity: 0;
}

.album-square .overlay:hover{
    opacity: 1;
}
