body {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;

}


button {
    width: auto;
    height: 40px;
    border: 0px;
    font-size: 16px;
    color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .9);
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:nth-child(1) {
    background-color: red;
}

button:nth-child(2) {
    background-color: blueviolet;
}

button:active {
    transform: translate(2px, 5px);
    box-shadow: none;
}

.ripple1 {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: animationRipple1 1s ease-in-out;

}

@keyframes animationRipple1 {
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.ripple2 {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border: 0px solid rgba(255, 255, 255, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: animationRipple2 1s ease-in-out;

}

@keyframes animationRipple2 {
    100% {
        width: 500px;
        height: 500px;
        border: 100px solid rgba(240, 100, 100, 0.5);
        opacity: 0;
    }
}