.button-link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 8px 16px;
    background-color: hotpink;
    transition: background-color 0.5s;
    /* Transition tất cả các attribute */
    /* transition: all 0.5s; */
    transition: all 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.button-link:hover{
    background-color: honeydew;
    border: 1px solid black;
    color:  pink;
}