body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.2s;
}

.wrapper:hover {
    background-color: rgb(231, 231, 231);
}

.wrapper:hover .box .card {
    transform: translate(30px, -30px);
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid gray;
}

.box {
    position: relative;
    display: inline-block;
    transform: rotate(-30deg) skew(25deg) scale(0.8);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(250, 250, 250);
    /* background-color: white; */
}

.card {
    padding: 7px 7px 4px 7px;
    background-color: white;
    background: transparent;
    border: 1px solid rgb(211, 211, 211);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.card .title {
    text-align: center;
    text-shadow: 0.5px 0.2px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width:800px) {
    .wrapper {
        grid-column: span 3;
    }

    .box {
        transform: rotate(-30deg) skew(25deg) scale(0.5);
    }
}