body{
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    padding: 1rem 1.2rem;
    box-shadow: 0.4px 4px 12px rgba(65, 29, 29, 0.2);
    border-radius: 1rem;
    text-shadow: 0.4px .4px 3px rgba(0, 0, 0, 0.2);
}

form h2{
    text-align: center;
    font-weight: 400;
    user-select: none;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.input-group{
    /* background-color: blueviolet; */
    margin: 1.6rem 0;
    position: relative;
}

form input{
    border:  none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
    padding: 6px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

form label{
    position: absolute;
    left: 0px;
    top: 20%;
    font-weight: 400;
    font-size: 0.9em;
    pointer-events: none;
    color: gray;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

input:focus + label, input:valid + label{
    top: -15px;
    color: dodgerblue;
}

form button{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    color: white;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: .5px 1px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

form button:hover, form button:focus{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    border: none;
    outline: none;
    padding: 0.5rem 1rem;   
    color: white;
    width: 100%;
    border-radius: 20px;
    font-weight: 700;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: .5px 1px 5px rgba(0, 0, 0, 0.2);
    color: black;
}   



form p{
    font-weight: 300;
    font-size: .9rem;
    margin-top: 2rem;
}

form p a{
    color: inherit;
    color: dodgerblue;;
}