body{
    margin: 0;
}
/* Canh giữa đều 4 bên
items sắp xếp theo hàng*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: bisque;
}



.child-1{
    background-color: coral;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 200px;
}

.child-2{
    background-color: darkolivegreen;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 200px;
}

.child-3{
    background-color: hotpink;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 100px;
}

.container-swap .child-1{
    order: 1;
}
