body{
    margin: 0;
}
/* Canh giữa đều 4 bên
items sắp xếp theo hàng*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}

.child-1{
    background-color: coral;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 100px;
    flex-grow: 1;
}

.child-2{
    background-color: darkolivegreen;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 100px;
    flex-grow: 1;
}

.child-3{
    background-color: hotpink;
    /* giãn theo chiều: .container{flex-direction: row;} */
    flex-basis: 100px;
    flex-grow: 1;
}

