body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.preload-page {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    text-align: center;
    animation: animationRotate 4s infinite linear;
}


.preload-page>div {
    background-color: rebeccapurple;
    animation: animationScale 1s infinite linear;


}

.preload-page>div:nth-child(7) {
    background: rgb(0, 240, 0);
    animation-delay: 0s;
}

.preload-page>div:nth-child(4),
.preload-page>div:nth-child(8) {
    background: rgb(49, 255, 46);
    animation-delay: 0.1s;
}

.preload-page>div:nth-child(1),
.preload-page>div:nth-child(5),
.preload-page>div:nth-child(9) {
    background: rgb(72, 255, 69);
    animation-delay: 0.2s;
}

.preload-page>div:nth-child(2),
.preload-page>div:nth-child(6) {
    background: rgb(124, 255, 84);
    animation-delay: 0.3s;
}

.preload-page>div:nth-child(3) {
    background: rgb(119, 255, 104);
    animation-delay: 0.4s;
}

.preload-page:nth-child(2)>div {
    border-radius: 50%;
}

@keyframes animationScale {

    0%,
    100% {
        transform: scale(0);
    }

    20%,
    80% {
        transform: scale(1);
    }
}


@keyframes animationRotate {

    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    45% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    70% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    95% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}