body {
  margin: 0;
  padding: 0;
  background: #222;
}
.container > div > img {
  width: 100%;
  box-shadow: 0px 2px 10px 0px #000;
  transition: 0.3s all ease;
  cursor: pointer;
}
.container > div > img:hover {
  transform: scale(1.05);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container > div {
  padding: 0 10px;
  box-sizing: border-box;
  flex: auto;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .container > div {
    width: 100%;
  }
}
@media (min-width: 601px) {
  .container > div {
    width: calc(100% / 2);
    /* 100% chia đều cho 2 */
  }
}
@media (min-width: 768px) {
  .container > div {
    width: calc(100% / 3);
    /* 100% chia đều cho 3 */
  }
}
@media (min-width: 992px) {
  .container > div {
    width: calc(100% / 4);
    /* 100% chia đều cho 4 */
  }
}
@media (min-width: 1200px) {
  .container > div {
    width: calc(100% / 6);
    /* 100% chia đều cho 6 */
  }
}
