body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(255, 237, 237);
  transition: ease-in-out 1s;
  overflow: hidden;
}
p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(0, 255, 85, 0.3);
  font-size: 60px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}
