body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list-items {
    width: 300px;
    height: auto;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 8px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.7);
}

.item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;

    /* Affect */
    position: relative;
    /* Nếu tràn thì ẩn đi thế thôi */
    overflow: hidden;
}

.item input[type="checkbox"],
.item .item-icon {
    margin: auto;
}

.item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 15px;
    height: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    outline: none;

    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
}

.item input[type="checkbox"]::before {
    content: '\f00c';
    position: absolute;
    font-family: fontAwesome;
    color: aqua;
    opacity: 0;
}

.item input[type="checkbox"]:checked::before {
    opacity: 1;
}

.item input[type="checkbox"]:checked {
    border: 1.5px solid aqua;
    box-shadow: 0.5px 0.5px 5px rgba(0, 255, 255, 0.8);

}

.item input[type="checkbox"]:checked~.item-icon {
    color: aqua;
}

.item input[type="checkbox"]:checked~.item-text {
    color: white;
}

.item:hover input[type="checkbox"] {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    cursor: pointer;
}

.item:hover input[type="checkbox"]~.item-icon i {
    transform: scale(1.3);
    cursor: pointer;
    animation: animation 0.2s;
}

.item:hover,
.item:hover input[type="checkbox"]~.item-text {
    cursor: pointer;
}


.item-icon,
.item-text {
    user-select: none;
    color: rgba(255, 255, 255, 0.7);
}

@keyframes animation {
    0% {
        opacity: 0.5;
        transform: scale(0.95);
    }

    50% {
        transform: rotate(-25deg);
    }

    75% {
        opacity: 1;
        transform: rotate(25deg);
    }

    100% {
        transform: scale(1);
        transform: rotate(25deg);
    }
}

.item .item-text::before {
    content: '';
    width: 150px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.09);
    position: absolute;
    left: -35%;
    top: 0;
    transform: skew(35deg);
    transition: all 0.4s ease;
}

.item input[type="checkbox"]:checked~.item-text::before {
    left: 150%;
    background-color: rgba(0, 255, 255, 0.5);
}