body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    outline: none;
    font-size: 30px;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    position: relative;

    -webkit-transition: all 0.3s ease;
}

button:hover {
    transform: translate(0, -10px);
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.6);

    -webkit-transform: translate(0, -10px);
}

button i{
    /* transition: all 0.1s ease-in-out; */
}

button:active{
    transform: translate(0px, 15px);
}

button:nth-child(2):active{
    transform: scale(1.1) translate(0px, -15px);
}

button::before {
    content: attr(data-content);
    position: absolute;
    top: 0%;
    left: 50%;
    width: 150%;
    padding: 5px;
    font-size: 1.1rem;
    background-color: transparent;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.6, -0.5, 0.3, 1.6);

    -webkit-transform: translate(-50%, -50%);
}

button::after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.6, -0.5, 0.3, 1.6);

    -webkit-transform: translate(-50%);
}

button:hover::before {
    top: -50%
}

button:hover::after {
    top: -30%;
}

button:hover::before,
button:hover::after {
    opacity: 1;
}

button:nth-child(1):hover::after {
    border-top: 8px solid red !important;
}

button:nth-child(2):hover::after {
    border-top: 8px solid green !important;
}

button:nth-child(1) {
    border: 1px solid red;
    color: red;
}

button:nth-child(2) {
    border: 1px solid green;
    color: green;
}

button:nth-child(1):hover {
    background: red;
    color: black;
}

button:nth-child(2):hover {
    background: green;
    color: black;
}

button:nth-child(1)::after {
    border: 1px solid red;
}

button:nth-child(2)::after {
    border: 1px solid green;
}

button:nth-child(1)::before {
    border: 1px solid red;
}

button:nth-child(2)::before {
    border: 1px solid green;
}

button:nth-child(1):hover::before {
    color: red;
}

button:nth-child(2):hover::before {
    color: green;

}