.container {
    width: 100%;
}

article[role="main"] {
    float: left;
    width: 600px / 960px * 100%;
    background-color: green;
}

aside[role="complementary"] {
    float: right;
    width: 300px / 960px * 100%;
    background-color: red;
}
