body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: rgb(61, 61, 61);
    background: linear-gradient(45deg, rgba(61, 61, 61, 1) 2%, rgba(27, 36, 47, 1) 28%, rgba(29, 49, 75, 1) 49%, rgba(39, 75, 120, 1) 80%, rgba(12, 76, 154, 1) 100%) no-repeat;
    position: relative;
}

.supper-man img {
    width: 150px;
    transform: rotate(25deg);
    position: absolute;
    top: 55%;
    animation: aminationSupperMan 1s linear infinite;
}

@keyframes aminationSupperMan {
    0% {
        left: -25%;
    }

    50% {}

    100% {
        left: 125%;
    }
}

@media (min-width: 700px) {
    .supper-man img {
        animation: aminationSupperMan 2s linear infinite;
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .supper-man img {
        animation: aminationSupperMan 2.5s linear infinite;
        width: 250px;
    }

}


@media (min-width: 1980px) {
    .supper-man img {
        animation: aminationSupperMan 3.5s linear infinite;
        width: 300px;

    }
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    right: 0;
    top: 0;
    animation: animationStar infinite linear .5s;
    z-index: -999;
    transition: 0.3s all;
}

@keyframes animationStar {
    0% {
        box-shadow: 0 0 20px #FFF;
    }

    50% {
        box-shadow: 0 0 24px #FFF;
    }

    100% {
        box-shadow: 0 0 15px #FFF;
    }
}

.container {
    position: absolute;
    color: white;
    text-align: center;
    top: 8%;
    padding: 0 10px;
}

.container .title {
    font-weight: 500;
    font-size: 6rem;
}

.container p {
    font-size: 1.5rem;
}

.container #go-back {
    border: none;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    outline: none;
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.5s;
}


.container #go-back:hover{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}