body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* .container{
    display: flex;
} */

.box{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.box-red {
    background-color: red;
}

.box-green{
    background-color: green;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.box-blue{
    background-color: blue;
}