body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    background-color: red;
    width: 300px;
    height: 300px;
    position: relative;
}

.inner-container {
    background-color: green;
    width: 200px;
    height: 200px;
}

.child {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;    
    top: 50%;
    transform: translate(-50%, -50%);
}